@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;

}

body{
    width: 100%;
    height: 100vh;
    color: #fff;
}

.container{
    background-color: #28717e;
    text-align: center;
}

.container h1{
    font-weight: 600;
    padding:1rem;
    
}
.editor{
    background: #252744;
    text-align: start;
    display: flex;
    padding: 1rem;
}

.left, .right{
    flex-basis: 50%;
    padding: 10px;
}
label{
    display: flex;
    align-items: center;
    font-size: 18px;
}
label i {
    padding-right: 5px;
}

textarea,#console {
    width:100%;
    height: 300px;
    background: #1f1f1f;
    color:#fff;
    border: 0;
    outline:0;
    font-size: 18px;
    padding: 10px 20px;
}

iframe{
    width: 100%;
    height: 95%;
    background: 0;
    border:0;
    outline:0;
    background-color: #fff;
}



#popup {
    display: none;
    color:black;
    position: fixed;
    top: 50%;
    background-color: white;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 999;
}


/* .editor-container {
    position: relative;
    display: flex;
}

.line-numbers {
    counter-reset: line;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    border-right: 1px solid #ccc;
    background-color: #f4f4f4;
    font-family: monospace;
}

#line-numbers div::before {
    content: counter(line);
    counter-increment: line;
    display: block;
    color: #888;
}

textarea {
    font-family: monospace;
    resize: none;
    border: 1px solid #ccc;
    padding: 10px;
    width: 100%;
} */
